body {
    margin: 0;
    
    background: rgb(245,235,235);
  background: linear-gradient(180deg, rgba(245,235,235,1) 28%, rgba(255,162,0,1) 100%);
  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 18px;
    color: black;
    
} 


.head{
    margin: 0;
    width:100%;
    background-color: white;
    font-size:20px;
    
     
}


.navber-brand {
    margin-right: 600px;
}
.ll{
   width:100px;
    height: 100px; 
}
.l{
    margin-left: 5px; 
    width:70px;
    height: 35px;
}

ul {
  list-style: none;
}
li {
  display: inline-block;
}




.card {
    width: 650px;
    margin:  40px auto;
    padding: 70px;
    background-color: white;
    box-shadow: 0 5px 10px black;
    border-radius: 10px;
    
}


.card-photo {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.card-title {
    font-size: 34px;
    text-align: center;
    color: #000;
    
}

.card-text {
    font-size: 22px;
    text-align: center;
}

.table {
    padding: 60px;
    font-size: 18px;
}

.photo1 {
    width: 220px;
    height: 160px;
}

.photo2 {
    width: 240px;
    height: 160px;
}

.photo3{
    width: 220px;
    height: 190px;
}

.photo4 {
    width: 240px;
    height: 190px;
}


.card-2 {
    font-size: 22px;
    text-align: center;
    
}

.card-3 {
    font-size: 22px;
}

.card-4 {
    font-size: 22px;
}


.btn {
    padding: 20px;
    border-radius: 20px;
    color: black;
    background-color: #f5ad7a;
    width: 170px;
    height: 90px;
    font-size: 18px;

}
.btn:hover{
    color: white;
}




footer {
  padding-top: 20px;
  background: rgba(85, 21, 2, 0.89);
  font-family: 'Raleway';
}



.footer_item {
  color: black;
  font-size: 22px;
}

.italic {
  font-family: 'Arial';
  font-style: italic;
  font-size: 18px;
}

.copyright{
    font-size: 15px;
}



.madeby {
  font-size: 18px;
  padding-bottom: 10px;
  font-style: italic;
    text-align: end;
}

.card-6{
    height: 100px
}

.logotipi {
    text-align: end;
    
}






